.block1,.block2,.block3 {
	margin-bottom: 10px;
	height: 50px;
	text-align: right;
	opacity: 0.3;
}
.block1 {
	background-color: red;
	position: relative;
	width: 350px;
	height: 350px;
	z-index: 300;}
.block2 {
	background-color: yellow;
	position: absolute;
	width: 250px;
	height: 250px;
	top: 8px;
	z-index: 100;
}
.block3 {
	background-color: green;
	position: absolute;
	width: 150px;
	height: 150px;
	top: 8px;
	z-index: 50;
}
.box {
	width: 400px;
}
