.style01 {
	background-color: black;
	border: double white 15px;
	color: white;
}
a {
	background-color: white;
	border: double black 2px;
	color: black;
	transition: 0.5s;
	text-decoration: none;
	margin: 10px;
}
body {
	background-color: grey;
}
h1,h2,h3,p,a {
	font-family: comic sans ms;
}
a:hover  {
	background-color: grey;
	transition: 0.5s;
}
a:active {
	background-color: black;
	transition: 0.3s;
}